<div class="jumbotron center">
  <h1>ALPHA BLOG</h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up now</a></p>
</div>

<%= link_to 'AplaBlog', articles_path %> | <%= link_to 'About', about_path %>